*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0; }

.signin {
  margin: 150px auto 0;
  width: 330px;
  height: 350px;
  background: #F9F9F9;
  border: 1px solid #E0E0E0;
  text-align: center;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }
  .signin h1 {
    font-family: 'Grand Hotel', serif;
    text-transform: lowercase;
    font-size: 60px;
    font-weight: normal;
    cursor: default;
    margin-bottom: 0; }
  .signin h2 {
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-variant: small-caps;
    margin-top: 0;
    margin-bottom: 60px; }
  .signin button {
    background-color: #D34836;
    border: none;
    padding: 10px;
    font: 15px 'Open Sans';
    color: #F9F9F9;
    outline: none;
    border: 1px solid #b03426;
    cursor: pointer;
    transition: 0.15s; }
    .signin button:hover {
      background-color: #d8594b; }
    .signin button:active {
      background-color: #c43a2b; }
