{% extends 'layouts/default.html' %}

{% block body %}
<section class="sidebar">
    <h1>JetStream</h1>
    <div class="content">
        <div class="search">
            <div class="searchBar">
            <span class="icon-search"></span>
                <input type="text" id="search" placeholder="Search">
            </div>
            <div class="searchContent" hidden>
                <ul></ul>
            </div>
        </div>
        <div class="chatInfo">
            <div class="friendsList">
                <h2>Friends</h2>
                <ul>
                    <li class="friend" data-id="8383838">
                        <img src="https://lh6.googleusercontent.com/-jQ1yBCMcNIw/AAAAAAAAAAI/AAAAAAAACAc/bkziTaPTPr0/photo.jpg" alt="Tal Ben-Ari" class="profilePic">
                        <h3>Tal Ben-Ari</h3>
                        <h4>thealtus</h4>
                    </li>
                    <li class="friend" data-id="8262522">
                        <img src="https://lh6.googleusercontent.com/-4TOn51mYCwQ/U3LaEB0RG3I/AAAAAAAADKs/hAFmjnjqL_k/s851-no/8f094c10-ea25-4f5c-bf14-988b29ed7647" alt="Michael Edlinger" class="profilePic">
                        <h3>Michael Edlinger</h3>
                        <h4>mkeedlinger</h4>
                    </li>
                </ul>
            </div>
            <div class="chatList">
                <h2>Chats</h2>
                <ul>
                    <li class="chat" data-id="16738903">
                        <img src="" alt="Chat Name" class="profilePic">
                        <h3>Chat Name</h3>
                        <h4>Chat content</h4>
                        <h5>Time</h5>
                    </li>
                    <li class="chat" data-id="64543123">
                        <img src="" alt="Chat Name" class="profilePic">
                        <h3>Chat Name</h3>
                        <h4>Chat content</h4>
                        <h5>Time</h5>
                    </li>
                    <li class="chat" data-id="54324567">
                        <img src="" alt="Chat Name" class="profilePic">
                        <h3>Chat Name</h3>
                        <h4>Chat content</h4>
                        <h5>Time</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="listRequests">
        <ul></ul>
    </div>
</section>

<section class="main">
    {# <div id="userInfo">
        <img src="{{user.image.url}}" alt="{{user.displayName}}">
        {{user.displayName}}
    </div> #}
</section>

<footer>
    <!-- About Us, GitHub, etc. -->
</footer>
{% endblock %}