@import 'mixins';

$radius: 3px;

*, *:before, *:after {
    box-sizing: border-box;
    @include user-select(none);
}

.selectable {
    @include user-select(text !important);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #DDDDDD;
}

.chat {
    width: 300px;
    background-color: #F9F9F9;
    border: 1px solid #999999;
    border-radius: $radius;
    position: relative;
    box-shadow: 0 20px 100px -10px transparent;
    transition: padding .25s, box-shadow .25s;

    &.active {
        box-shadow: 0 20px 100px -10px black;
        border: 1px solid #606060;
        padding-bottom: 40px;

        footer {
            opacity: 1;
            input {
                cursor: text;
                &:focus {
                    box-shadow: 0 0 1px 1px #4d90fe;                    
                }
            }
        }
    }

    header {
        position: relative;
        background-color: rgba(0,0,0,0.03);
        padding: 10px;
        color: rgba(0,0,0,0.7);
        font-size: 14px;
        font-weight: 800;
        cursor: default;
        box-shadow: 0 2px rgba(0,0,0,0.3);
    }

    .profilePic {
        width: 35px;
        height: 35px;
        border-radius: $radius;
    }

    section {
        padding: 10px;
        max-height: 400px;
        overflow-y: auto;

        .message {
            margin-bottom: 10px;
            overflow: hidden;

            &.left > * {
                float: left;
            }

            &.right > * {
                float: right;
            }

            .message-content {
                max-width: 75%;
                white-space: pre-wrap;
                padding: 5px;
                background-color: rgb(255,255,255);
                border-bottom: 2px solid rgba(0,0,0,0.1);


                .message-user, .message-date, .message-time {
                    display: inline;
                    color: #888888;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 11px;
                    padding: 0 5px;
                    vertical-align: top;
                }

                .message-user {
                    padding-left: 0px;
                }

                .message-time {
                    padding-right: 0px;
                }

                .message-text {
                    font-size: 14px;
                }
            }

            &.left .message-content {
                margin-left: 10px;
                border-radius: 0 3px 3px 3px;

                &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    float: left;
                    margin-right: 5px;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid #FFFFFF;
                    margin-left: -15px;
                    margin-top: -5px;
                }
            }

            &.right .message-content {
                margin-right: 10px;
                border-radius: 3px 0 3px 3px;
                background-color: #F1FBFF;

                &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    float: right;
                    margin-left: 5px;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid #F1FBFF;
                    margin-right: -15px;
                    margin-top: -5px;
                }
            }
        }
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: .25s;
        opacity: 0;

        input {
            margin: 0;
            padding: 10px;
            width: 100%;
            border: none;
            border-radius: 0 0 $radius $radius;
            font: inherit;
            font-size: 14px;
            cursor: default;
            outline: none;
        }
    }
}

#userInfo {
    background-color: #F0F0F0;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 8px;
    color: #404040;
    border: 1px solid #999999;
    border-radius: $radius;

    img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        height: 36px;
        border-radius: $radius;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform:rotate(0deg)
    }

    100% {
        -webkit-transform:rotate(360deg)
    }
}

.friendList {
    .friend {
        background-color: #E9E9E9;
        padding: 5px 10px;
        width: 90%;
        margin: 0 auto;
        border-radius: 0 0 3px 3px;
        cursor: default;
        transition: opacity 0.25s, margin-top 0.25s;

        &.noShow {
            opacity: 0;
            margin-top: -25px;
        }

        img {
            margin-right: 10px;
            float: left;
        }

        h3 {
            font-size: 14px;
            margin: 0;
        }

        h4 {
            font-size: 12px;
            color: #666;
            margin: 0;
        }
    }

    .searchBar {
        position: relative;

        &.spin {
            img, h4 {
                display: none;
            }

            h3 {
                font-size: 20px;
                margin: 5px auto;
                width: 20px;
                -webkit-animation: spin 1.9s infinite linear;
            }
        }

        .icon-search {
            position: absolute;
            top: 5px;
            left: 5px;
        }

        input {
            border: none;
            outline: none;
            width: 100%;
            font-size: 14px;
            padding: 5px 5px 5px 30px;
            margin: 0;
        }
    }
}