*, *:before, *:after {
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.chat {
    width: 300px;
    background-color: #F9F9F9;
    border: 1px solid rgba(0,0,0,0.1);

    header {
        background-color: rgba(0,0,0,0.03);
        padding: 10px;
        color: rgba(0,0,0,0.7);
        font-size: 14px;
        font-weight: 800;
    }

    section {
        padding: 10px;

        img {
            width: 35px;
            height: 35px;
        }

        .message {
            margin-bottom: 10px;
            overflow: hidden;

            &.left > * {
                float: left;
            }

            &.right > * {
                float: right;
            }

            .message-content {
                max-width: 75%;
                white-space: normal;
                padding: 5px;
                background-color: rgb(255,255,255);
                border-bottom: 2px solid rgba(0,0,0,0.1);


                .message-user, .message-date, .message-time {
                    display: inline;
                    color: #888888;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 11px;
                    padding: 0 5px;
                    vertical-align: top;
                }

                .message-user {
                    padding-left: 0px;
                }

                .message-time {
                    padding-right: 0px;
                }

                .message-text {
                    font-size: 14px;
                }
            }

            &.left .message-content {
                margin-left: 10px;

                &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    float: left;
                    margin-right: 5px;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid #FFFFFF;
                    margin-left: -15px;
                    margin-top: -5px;
                }
            }

            &.right .message-content {
                margin-right: 10px;

                &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    float: right;
                    margin-left: 5px;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid #FFFFFF;
                    margin-right: -15px;
                    margin-top: -5px;
                }
            }
        }
    }
}
