*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

col.fill-the-rest {
    width: 100%;
}

#content {
    margin: 120px auto 0;
    width: 600px;
    border-collapse: collapse;
}

#content .chat-mini {
    cursor: pointer;
}

#content .chat-mini:hover {
    background: #EEEEEE;
}

#content td {
    padding: 10px;
    font-size: 15px;
    vertical-align: top;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
}

#content td .outer-wrapper {
    position: relative;
}

#content td .inner-wrapper {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 100%;
    text-overflow: ellipsis;
}

#content .chat-name {
    border-right: 1px solid #666666;
    text-align: right;
}

#content .latest-message.unread {
    font-weight: bold;
}

#content .chat-mini.expanded {
    background: #DDDDDD;
}

#content .chat td {
    background: #EEEEEE;
    position: relative;
    cursor: default;
    max-width: 600px;
    padding: 0 10px;
    transition: .25s;
}

#content .chat.expanded td {
    padding: 10px 10px 40px !important;
}

.input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: .25s;
}

.expanded .input {
    visibility: visible;
    opacity: 1;
}

.input input {
    margin: 0;
    width: 75%;
    float: left;
    font: inherit;
    font-size: 16px;
    border: 2px solid #DDDDDD;
    padding: 10px;
    outline: none;
    transition: .25s;
    height: 44px;
}

.input input:hover {
    border-color: #AAAAAA;
}

.input input:focus {
    border-color: #2070DD;
}

.input input:focus ~ button, .input button:focus, .input button:active {
    color: #EEEEEE !important;
    background: #2070DD !important;
}

.input input:hover ~ button, .input button:hover {
    background: #AAAAAA;
}

.input button {
    width: 25%;
    border: none;
    padding: 10px 10px 8px 10px;
    font: inherit;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .25s;
    float: left;
    height: 44px;
}

.left, .right {
    overflow: hidden;
    transition: .25s;
    max-height: 0;
}

.expanded .left, .expanded .right {
    max-height: 300px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 25px;
    height: 25px;
    background: #444444;
    font-size: 15px;
    padding: 4px 5px;
    color: #EEEEEE;
    font-family: 'Icon Font';
}

.left > * {
    float: left;
}

.right > * {
    float: right;
}

.content {
    background: #FFFFFF;
    max-width: 75%;
    white-space: normal;
    padding: 5px;
    user-select: text;
}

.left .content {
    margin-left: 10px;
}

.left .content::before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    float: left;
    margin-right: 5px;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFFFFF;
    margin-left: -15px;
    margin-top: -5px;
}

.right .content {
    margin-right: 10px;
}

.right .content::before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    float: right;
    margin-left: 5px;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #FFFFFF;
    margin-right: -15px;
    margin-top: -5px;
}

.user, .chat .date, .time {
    display: inline;
    color: #888888;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    padding: 0 5px 5px;
    vertical-align: top;
}

.user {
    padding-left: 0;
}

.time {
    padding-right: 0;
}

@font-face {
    font-family: 'Icon Font';
    src:url('resources/icon-font/icon-font.eot');
    src:url('resources/icon-font/icon-font.eot?#iefix') format('embedded-opentype'),
        url('resources/icon-font/icon-font.woff') format('woff'),
        url('resources/icon-font/icon-font.ttf') format('truetype'),
        url('resources/icon-font/icon-font.svg#icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}